<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38837465609-25luo1v0ljesp04e9ii8ifcc480akrdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38837465609-25luo1v0ljesp04e9ii8ifcc480akrdq</string>
	<key>API_KEY</key>
	<string>AIzaSyB-DaWZi8rOmdHbuphpl86pVgylnF2YGvs</string>
	<key>GCM_SENDER_ID</key>
	<string>38837465609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanjirou.FirebaseTest3</string>
	<key>PROJECT_ID</key>
	<string>fir-test3-27a59</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test3-27a59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38837465609:ios:bb256b7980a205b7a1fed8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test3-27a59.firebaseio.com</string>
</dict>
</plist>